body {
  padding: 25px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.logo {
  max-width: 200px; /* Adjust the logo size as needed */
  height: auto;
  margin-bottom: 1px; /* Space below the logo */
}

.title {
  color: #fa4238;
  margin-bottom: 10px;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.200);
}

p {
  color: #333;
  margin-bottom: 20px;
  max-width: 600px;
  line-height: 1.5;
}

.input-section {
  margin-top: 10px;
  margin-bottom: 10px; /* Increased vertical space below the input section */
}

.input-section p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 400px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #fa4238;
  outline: none;
}

.options-section {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.options-section label {
  font-weight: bold;
  margin-right: 5px;
}

.options-section select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23fa4238%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-6.5%200-12.3%203.2-16.1%208.1s-1.1%2011.5%203.4%2015.6l138%20138c4.2%204.2%209.6%206.4%2015.6%206.4s11.4-2.2%2015.6-6.4l138-138c4.4-4.1%205.4-10.4%202.4-15.6z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

.generate-button {
  background-image: linear-gradient(to right, #e64c95, #fde350, #fa4238, #fa4238);
  color: #fff;
  border: 1px solid #db2d23;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.generate-button:hover {
  background-color: #7cc67c;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.generate-button span {
  font-size: 1.2em;
  vertical-align: middle;
}